.overlay-backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background: rgba(8, 8, 14, .55);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

}

.overlay-content {
  position: relative;
  overflow: auto;
  overflow-x:hidden;
  background: transparent;
  padding: 0;
    box-shadow:
    0 12px 30px rgba(255, 255, 255, 0.2);
    border-radius:16px;
}

.overlay-portfolio {
  max-width: 1500px;
  width: calc(100vw - 80px);
  max-height: calc(100vh - 80px);
}

.overlay-contact{
  width:min(1100px,90vw);
  height:min(720px,82vh);
}

.overlay-close{

  position:absolute;
  background: transparent;
  top:12px;
  right:12px;

  width:42px;
  height:42px;

  border:none;
  border-radius:50%;

  display:flex;
  justify-content:center;
  align-items:center;
  color:white;


  font-size:1.6rem;

  cursor:pointer;


  transition:
      transform .2s ease;
}

.overlay-close:hover{

  color:var(--color-accent-red);
  
  transform:scale(1.08) rotate(90deg);
}
