.view-enter{

    animation:viewEnter .78s ease forwards;

}

.view-leave{

    animation:viewLeave .78s ease forwards;

}

@keyframes viewEnter{

    from{

        opacity:0;

        transform:
            translateY(18px);

    }

    to{

        opacity:1;

        transform:
            translateY(0);

    }

}

@keyframes viewLeave{

    from{

        opacity:1;

        transform:
            translateY(0);

    }

    to{

        opacity:0;

        transform:
            translateY(-12px);

    }

}