@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {  /* Desktop 1080p, base */
  /* Fonts */
  --font-display: "Black Ops One", Arial, Helvetica, sans-serif;
  --font-body: "Roboto", Arial, Helvetica, sans-serif;
  --font-weight-normal: 400;

  /* Colors */
  --color-bg: linear-gradient(90deg, #22223b -10%, #7180ac 200%);
  --color-bg-overlay: #0B0D21;
  --color-text: #f4f3f7;
  --color-accent-red: #ff3a22;
  --color-accent-green: #00c69a;
  --color-accent-darkblue: #22223b;

  /* Font Sizes */
  --fs-hero: 3rem;
  --fs-hero-name: 1.5rem;
  --fs-h2: 1.5rem;
  --fs-h3: 1.4rem;
  --fs-body: 1.2rem;
  --fs-small: 1.1rem;
  --fs-button: 1.5rem;

  /* Layout */
  --content-width: 1540px;
  --project-width: 400px;
  --section-gap: 4rem;

  font-family: var(--font-body);
  color: var(--color-text);
  background: var(--color-bg);
}

body {
  min-width: 320px;
  min-height: 100vh;
  background: var(--color-bg);

  --radius:16px;

  --shadow:0 12px 40px rgba(0,0,0,.25);

  --space-xs:.5rem;
  --space-sm:1.5rem;
  --space-md:2rem;
  --space-lg:4rem;

  --icon-size:72px;

  --button-height:64px;

}

button {
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}


@media (max-width:479px){ /* Handy small */

:root{

  --color-bg: linear-gradient(180deg, #22223b 0%, #7180ac 200%);

  --fs-hero:1.6rem;
  --fs-hero-name:1rem;

  --fs-h2:1.6rem;
  --fs-h3:1.2rem;

  --fs-body:1.05rem;
  --fs-small:.95rem;

  --fs-button:1.2rem;

}

}

@media (min-width:480px) and (max-width:767px){ /* Handy big */

:root{

  --fs-hero:2.8rem;
  --fs-hero-name:1.3rem;

  --fs-h2:2.1rem;

  --fs-body:1.1rem;
  --fs-small:1rem;

  --fs-button:1.25rem;

}

}

@media (min-width:768px) and (max-width:1279px){ /* Tablet/small PC */

:root{

  --fs-hero:3.4rem;
  --fs-hero-name:1.6rem;

  --fs-h2:1.8rem;

  --fs-body:1.15rem;
  --fs-small:1.05rem;

  --fs-button:1.4rem;

}

}

@media (min-width:1440px){ /* 2k */

:root{

  --fs-hero:3.7rem;
  --fs-hero-name:1.8rem;

  --fs-h2:1.8rem;

  --fs-body:1.3rem;
  --fs-small:1.15rem;

  --fs-button:1.6rem;

}

}


@media (min-width:2560px){ /* 4k */

:root{

  --fs-hero:5rem;
  --fs-hero-name:2.4rem;

  --fs-h2:2.3rem;

  --fs-body:1.7rem;
  --fs-small:1.45rem;

  --fs-button:2rem;

}

}