.project-card {
  width: 80%;
  aspect-ratio: 16 / 9;
  border: 2px solid rgba(255,255,255,.8);
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: transform .2s ease;
  
}

.project-card-image {
  position: relative;
  overflow: hidden;
  background: var(--color-accent-darkblue);
  aspect-ratio: 16 / 9;
  transition:
    transform .25s ease,
    box-shadow .25s ease;
}

.project-card-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,.18);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  opacity: 0;
  transition:
    opacity .3s ease,
    backdrop-filter .3s ease;
}

.project-card-overlay h3 {
  color: var(--color-accent-red);
  font-family: var(--font-display);
  visibility: hidden;
  font-size: var(--fs-h3);
  font-weight: var(--font-weight-normal);
  opacity: 0;
  transform: translateY(12px);
  transition:
    opacity .3s ease,
    transform .3s ease;
}


.project-card:hover .project-card-overlay {
  opacity: 1;
}

.project-card:hover .project-card-overlay h3 {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.project-card:hover {
  box-shadow:
    0 12px 30px rgba(0,0,0,.35);
}

.project-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .35s ease;
  display: block;
}

.project-card:hover img {
  transform: scale(1.08);
}

.project-card:hover {
    border-color: var(--color-accent-red);
}
