.project-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.project-sidebar h2 {
  color: #00c69a;
  font-family: var(--font-display);
  font-size: var(--fs-h2);
  font-weight: var(--font-weight-normal);
  margin-bottom: 2.2rem;
}

.project-sidebar-list {
  display: flex;
  aspect-ratio: 16 / 9;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  gap: 1.6rem;
}