.project-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.project-sidebar h2 {
  color: #00c69a;
  font-family: var(--font-display);
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2.2rem;
}

.project-sidebar-list {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  gap: 2rem;
}