.home-mobile{

    min-height:100dvh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    gap:var(--space-md);

    padding:var(--space-md);

    text-align:left;
}



.mobile-portrait-wrapper{

    width:min(340px,90vw);

    aspect-ratio:0.78;

    overflow:hidden;

    border-radius:50% / 38%;

    display:flex;

    justify-content:center;

    align-items:flex-end;
}



.mobile-portrait{

    width:100%;

    height:100%;

    object-fit:cover;

    object-position:center top; /* If you want to adjust the position of the image within the circle, you can change this value, eg. object-position:center 15%; */
}



.mobile-navigation{

    display:flex;

    gap:1.4rem;

}



.mobile-nav-button{

    width:72px;
    height:72px;

    border-radius:50%;

    border:2px solid rgba(255, 255, 255, 0.5);
    box-shadow: var(--shadow);

    background:var(--color-accent-darkblue);

    color:white;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:1.65rem;

    cursor:pointer;

    transition:
        border-color .18s ease,
        color .18s ease,
        transform .18s ease,
        background .18s ease;

}

.mobile-nav-button:active{

    transform:scale(.93);

    color:var(--color-accent-red);

    border-color:var(--color-accent-red);

}


.mobile-nav-button:hover{

    color:var(--color-accent-red);

    border-color:var(--color-accent-red);

    transform:translateY(-3px);

}


@media (max-width:1000px){

.hero-section {
    margin-left: 0;
}

.hero-title{
    line-height: 1.04;
}

.hero-section{

    flex:1;
}

.mobile-portrait-wrapper{

    flex:2;
}

.mobile-navigation{

    flex:1;
}

}

@media (min-width:600px) and (max-width:1000px) {

.home-mobile{

    gap:0;
    max-width:700px;
    margin:0 auto;

}

.hero-title{
    margin-bottom: 3rem;
}

.hero-section{

    gap:1;
    flex:0;
    margin-left: 2rem;
}

.mobile-portrait-wrapper{

width:min(50vw,420px);
margin-inline: auto;

}

.mobile-navigation{

gap:2.5rem;
margin-top:1.5rem;

}

}